@model IEnumerable<Student>

@* Các cách khác nhau để tạo link Create Student *@
@* Cách 1: HTML thuần - viết trực tiếp href *@
@*<a href="/Admin/Student/Add" class="btn btn-primary">Create Student</a>*@

@* Cách 2: Html Tag Helper - asp-action để link tới action theo tên *@
<a asp-action="Create" class="btn btn-primary">Create Student</a>

@* Cách 3: Html Tag Helper - asp-route để gọi route theo tên *@
@*<a asp-route="adminStudentAdd" class="btn btn-primary">Create Student</a>*@
<table class="table table-striped">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Ngành</th>
            <th>Giới tính</th>
            <th>Hệ ĐT</th>
            <th>Địa chỉ</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
                <td>@s.Date0fBorth</td>
                @{
                    string str = "";
                    switch (s.Branch)
                    {
                        case Branch.IT:
                            str = "CNTT";
                            break;
                        case Branch.BE:
                            str = "Kinh tế";
                            break;
                        case Branch.CE:
                            str = "Công trình";
                            break;
                        case Branch.EE:
                            str = "Điện - Điện tử";
                            break;
                    }
                }
                <td>@str</td>
                <td>@(s.Gender == Gender.Male ? "Nam" : "Nữ")</td>
                <td>@(s.IsRegular ? "Chính quy" : "Phi chính quy")</td>
                <td>@s.Address</td>
                <td>@s.Email</td>
            </tr>
        }
    </tbody>
</table>

